@model ProgramaEstagio.Models.Vaccine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vaccine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="VaccineName" class="control-label"></label>
                <input asp-for="VaccineName" class="form-control" />
                <span asp-validation-for="VaccineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccinePrice" class="control-label"></label>
                <input asp-for="VaccinePrice" class="form-control" />
                <span asp-validation-for="VaccinePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVaccination" class="control-label"></label>
                <input asp-for="DataVaccination" class="form-control" />
                <span asp-validation-for="DataVaccination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonID" class="control-label"></label>
                <select asp-for="PersonID" class="form-control" asp-items="ViewBag.PersonID"></select>
                <span asp-validation-for="PersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
