@model ProgramaEstagio.Models.Address

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="divOptionID">
                <label asp-for="PersonID" class="control-label"></label>
                <select asp-for="PersonID" class ="form-control" asp-items="ViewBag.PersonID"  id="optionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complement" class="control-label"></label>
                <input asp-for="Complement" class="form-control" />
                <span asp-validation-for="Complement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distric" class="control-label"></label>
                <input asp-for="Distric" class="form-control" />
                <span asp-validation-for="Distric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script defer>
    function main(){
        var url_string = document.URL;
        var url = new URL(url_string);
        var name = url.searchParams.get("Name");
        if(name){
            document.getElementById("optionID").value = name;
            document.getElementById("optionID").style.pointerEvents = "none"
            document.getElementById("divOptionID").style.cursor = "not-allowed";
            window.history.replaceState({}, document.title, "/" + "../Address/Create");
        }
        // event.preventDefault();
    }
    main()
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
